/* Footer Styles */
/* .footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #0a0a12;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

social-icons a:hover {
  color: #0073b1;
} */